extends main

block control
    // Class Filter
    .col
      div(class="btn-group class-selector pull-left" data-toggle="buttons")
        if filter == 1
          label(class="btn btn-success active") Positive
            input(type="radio" name="options" data-label="1" autocomplete="off")
        else
          label(class="btn btn-success") Positive
            input(type="radio" name="options" data-label="1" autocomplete="off")
        if filter == 0
          label(class="btn btn-default active") None
            input(type="radio" name="options" data-label="0" autocomplete="off")
        else
          label(class="btn btn-default") None
            input(type="radio" name="options" data-label="0" autocomplete="off")
        if filter == -1
          label(class="btn btn-danger active") Negative
            input(type="radio" name="options" data-label="-1" autocomplete="off")
        else
          label(class="btn btn-danger") Negative
            input(type="radio" name="options" data-label="-1" autocomplete="off")
